{# Home page #}
{% extends 'base_template.html' %}

{% block title %}Tela Inicial{% endblock %}

{% block content %}
<div class="app-wrapper">

    <!-- Área principal -->
    <div class="main-area">

        <!-- Topbar -->
        <header class="topbar">
            <a href="#" class="topbar-btn">
                <img src="/static/icones/Clientes.png" alt="Clientes">
                CLIENTES
            </a>
            <a href="#" class="topbar-btn">
                <img src="/static/icones/Adicionar.png" alt="Cadastrar Cliente">
                CADASTRAR CLIENTE
            </a>
            <a href="#" class="topbar-btn">
                <img src="/static/icones/Produto.png" alt="Estoque">
                ESTOQUE
            </a>	
        <div class="topbar-spacer"></div> <!-- Cria espaço para perfil ficar na direita -->
            <a href="#" class="topbar-btn">
                <img src="/static/icones/Login.png" alt="Perfil">
                PERFIL
            </a>
        </header>

<main class="page-content home-empty">
    <div class="empty-state">
        <img src="/static/icones/Gato.png" alt="Nenhuma operação">
        <p class="empty-title">Nenhuma Operação<br>em Andamento</p>
    </div>
</main>

    </div>
</div>
{% endblock %}